:root {
    --primary-color: rgb(21, 255, 0); /* Custom primary color */
    --secondary-color: #6c757d; /* Custom secondary color */
  }

  .container-fluid{
    background-color: #FFEBB2;
  }

  h1{
    color:#0b0eac;
    
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    
  }

  .card{
    background-color: #67C6E3;
  }