/***********************************************************************************/
/*This stylesheet contains some customization to the Bootstrap default color scheme*/
/***********************************************************************************/
:root {
  --custom-primary-color: #0b0eac; /* Custom primary color */
  --custom-secondary-color: #67C6E3; /* Custom secondary color */
}

.container-fluid{
  background-color: #FFEBB2;
}

h1{
  color: var(--custom-primary-color);  
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;  
}

.card {
  background-color: var(--custom-secondary-color);
}

.btn-confirm {
  background-color: var(--custom-secondary-color);
}

.btn-confirm:hover{
  background-color: #5cb1cb;
}